AppsGestionStock/Connected Services/WcfService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53530/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfGestionStock" />
  <xs:import schemaLocation="http://localhost:53530/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfGestionStock.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfGestionStock" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfGestionStock" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfGestionStock.Model" minOccurs="0" name="p" nillable="true" type="q3:Produit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjouterProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AjouterProduitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProduits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProduitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfGestionStock.Model" minOccurs="0" name="getProduitsResult" nillable="true" type="q4:ArrayOfProduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupprimerProduitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifierProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfGestionStock.Model" minOccurs="0" name="p" nillable="true" type="q5:Produit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifierProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifierProduitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfGestionStock.Model" minOccurs="0" name="getProduitResult" nillable="true" type="q6:Produit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Libelle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfGestionStock.Model" minOccurs="0" name="RechercherProduitResult" nillable="true" type="q7:ArrayOfProduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>